.graph {
    /* padding: 20px; */
    margin: auto;
    text-align: center;
}

.graph path {
    stroke: #fff;
    fill-rule: evenodd;
}
#graph-tree svg {
    /* max-width: 100%;
    display: block; */
}
#graph-tree g{
    cursor: pointer;
}

#graph-container {
    text-align: center;
}

#legend {
    /* padding: 30px;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px; */
}

#legend h6 {
    color: #009ADD;
    font-weight: 600;
    font-size: 18px;
}

#legend p {
    font-size: 14px;
}
#instruction p {
    display: none;
}
#instruction-title {
    margin-top: 0;
    /* text-align: center;
    margin-top: 30px; */
}
/* .year-select {
    position: absolute;
    top: 0px;
    left: 15px;
} */
#year {
    color: #009ADD;
    font-size: 14px;
    font-weight: 600;
}

#show-values {
    height: 100px;
    margin: 20px;
    text-align: center;
}

#value1 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #009ADD;

}

#value2, #value3, #value4 {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #666;
}


#trail1,
#trail2,
#trail3 {
    cursor: pointer;
    margin: auto;
    padding: 10px;
    padding-left: 0px;
    opacity: 0.4;
}

#sequence {
    font-size: 11px;
    /* margin-top: 30px;
    margin-right: 30px; */
    overflow: hidden;
}

#sequence p {
    font-size: 14px;
    font-weight: 600;
    color: #009ADD;
}

#sequence > svg {
    float: left;
    /* width: 30%; */
}

#viz-title {
    text-align: center;
    margin: auto;
    /* width: 90%; */
    padding-bottom: 10px
}

#viz-title p {
    text-align: left;
    font-size: 18px;
}

.form-group {
    margin-bottom: 0px;
}

.form-control {
    border: 1px solid #a1a1a1;
    width: 200;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
}

.form-control option {
    font-size: 12px;
}

#viz-switch-button {
    margin: 0 auto;
}

#viz-switch {
    text-align: center;
    margin-bottom: 60px;
    /* position: absolute;
    top: 30px;
    right: 15px; */
}


/* Sankey Styles    */


#graph-sankey svg {
    /* padding: 20px; */
}

.node rect {
    fill-opacity: 1;
    shape-rendering: crispEdges;
    stroke-width: 0;
}

.node {
    cursor: pointer;
}

#Total,
#Organization,
#Individual {
    cursor: default;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
}

.link:hover {
    stroke-opacity: .7;
    transition: stroke-opacity 0.15s linear;
    -webkit-transition: stroke-opacity 0.25s linear;
}

#data-order-buttons {
    font-size: 10px;
    display: inline-block;
}

#data-order-text, #year {
    font-size: 14px;
    color: #009ADD;
    /* margin-top: 30px; */
    margin-bottom: 15px;
    font-weight: 600;
}

#button1,
#button2 {
    cursor: pointer;
}

.labels {
    font-size: 13px;
    font-weight: 600;
}

#viz-table table tr th {
    font-size: 15px;
    vertical-align: top;
    background: #eee;
}

#viz-table table tr td {
    font-size: 14px;
}

#viz-table table tr.bold td {
    font-weight: 600;
    /* font-weight: 500; */
}